body.sigin-body {
    
    background-color: #e6f2ff;
}

.container.signing-container {
    
    margin-top: 5%;
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
    padding: 0 2rem 2rem;
    display: block;
   margin: auto;
}

form.sigin-form { 
max-width: 350px;
    margin: auto;
}

button.btn.btn-signin-btn {
 
    color: #ffff;
    background-color: #0CB3CA;
    width: 100%;
    margin-bottom: 1.2rem;
}
a.CreateaNewAccount {
    
    font-size : 1.2rem;
    display: block;
    text-align: center;
    margin-top: 15px;
}